@import '../../../utils/colors';

.myInput {
  border: none;
  border-bottom: $font-color solid 3px;
  background: transparent;
  width: 100%;
  padding: 3px;
  &::placeholder {
    color: $font-color
  }
  &:focus {
    outline: none;
    transform: scale(1.03);
  }
}